.link{
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    padding: 0 0 8px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    transition: color .75s cubic-bezier(.4, 0, .2, 1);
}

 a:hover {
     color: rgb(19, 60, 19)
 }
