.reviews-list{
    li{
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        margin: 10px auto;
    }

    span{
        color: rgb(51, 49, 49);
        font-size: 12px;
        padding-left: 5px;
    }
}