.video-trailers-separator {
    border: none;
    border-top: 2px solid rgba(34, 233, 121, 0.8);
    color: rgba(34, 233, 121, 0.8);
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 15px auto;
}

.video-trailers-separator::after {
    background: rgba(45, 155, 92, 255);
    padding: 0 4px;
    position: relative;
    top: -13px;
    content: attr(data-text);
}