.modal-video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-libraries-background);
    z-index: 1200;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;


    &.is-open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, visibility 0s;
        cursor: url('../../images/videoModal/exit-sign-svgrepo-com.svg'), auto;
    }
}

.modal {
    cursor: auto;
}

.modal-video-title {
    font-weight: 800;
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
    cursor: auto;
}